#Instagram credential
INSTAGRAM_USERNAME="Your login"
INSTAGRAM_PASSWORD="Your password"

#Download settings
IMAGE_FOLDER="images"

#Hubble API settings
HUBBLE_IMAGE_API_LINK="http://hubblesite.org/api/v3/image/"
HUBBLE_COLLECTION_API_LINK="http://hubblesite.org/api/v3/images/"
HUBBLE_COLLECTION_NAME="stsci_gallery"

#SpaceX API settings
SPACEX_IMAGE_API_LINK="https://api.spacexdata.com/v3/launches" 
LAUNCH_ID="64"